a {
  text-decoration: none;
}
.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}
.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}
.blog-card {
  background: var(--backgroud);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
  transition: 0.25s ease;
}
.blog-text {
  display: none;
}
@media (min-width: 550px) {
  :root {
    --fs-base: 0.9rem;
  }
  .blog-card {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 10px;
  }
  .blog-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 650px) {
  .blog-text {
    display: block;
  }
  .blog-text {
    color: var(--foreground-secondary);
    font-size: var(--fs-4);
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .blog .bungkus {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
@media (min-width: 1024px) {
  :root {
    --fs-base: 1rem;
    --fs-1: 3rem;
  }
  .container {
    max-width: 1150px;
  }

  .main .container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 60px;
  }
}
