/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .post {
  padding: 20px;
} */

/* .home {
  max-width: 1440px;
  margin: auto;
} */

.kategori h3 {
  text-align: center;
}

.kategori p {
  border: 1px solid black none;
  border-radius: 10px;
  padding: 10px;
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
/* @media (min-width: 1440px) {
  .App {
    max-width: 1440px;
  }
}

@media (min-width: 550px) {
  :root {
    --fs-base: 0.9rem;
  }
} */